
@{
    ViewData["Title"] = "Explore";
}

<div class="text-center flex-grow-1 justify-content-evenly">
    <h1 class="display-4">Explore Our Catalog Of Claims</h1>
    <p>Browse our list of processed and reviewed claims</a>.</p>
</div>
<h4></h4>
<div class="text-center flex-grow-1 justify-content-evenly">
    <h1>Our Database Of Claims:</h1>
</div>


