
@{
    ViewData["Title"] = "Explore";
}

<div class="text-center flex-grow-1 justify-content-evenly">
    <h1 class="display-4">Issue Claim</h1>
    <p>Don't see a claim you are inerested in? Issue a claim here:'</a>.</p>
</div>
<h4></h4>

