@{
    ViewData["Title"] = "Search";
}

<div class="text-center">
    <h1 class="display-4">Search:</h1>
    <p>See if we have an entry for a clim you're interested in, or creat a new claime</a>.</p>
</div>
