@{
    ViewData["Title"] = "Statitistics";
}

<div class="text-center">
    <h1 class="display-4">Statitistics:</h1>
    <p>Explore varous statistics concernening our database of claims</a>.</p>
</div>